<div class="section" id="education">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    {% for edu in site.data.education %}
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>{{edu.timespan}}</p>
            <div class="h5">{{edu.summary}}</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">{{edu.degree}}</div>
            <p class="category">{{edu.uni}}</p>
            {% capture p %}{% include {{ edu.description }} %}{% endcapture %}
            <p>{{ p | markdownify }}</p>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>