<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        {% for pair in site.data.skills %}
        <div class="row">
          {% for skill in pair.pair %}
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">{{skill.name}}</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10"
                  data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                  style="width: {{skill.value}}%;"></div><span class="progress-value">{{skill.value}}%</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>